.prose .rehype-code-title {
	@apply flex rounded-t-md justify-between items-center bg-gray-800 text-white py-2 px-4;
}

.prose pre {
	@apply rounded-b-md shadow-md shadow-black py-2 overflow-x-auto;
	line-height: 24px;
	background-image: linear-gradient(hsl(226, 19%, 13%), hsl(226, 19%, 16%));
}

.prose pre [data-line] {
	padding: 0 5px;
}

.prose code {
	counter-reset: line;	
}
     
.prose code > [data-line]::before {
	counter-increment: line;
	content: counter(line);
	display: inline-block;
	width: 1rem;
	margin-right: 10px;
	text-align: right;
	color: gray;
}

.prose code[data-line-numbers-max-digits="2"] > [data-line]::before {
	width: 2rem;
}

.prose code[data-line-numbers-max-digits="3"] > [data-line]::before {
	width: 3rem;
}

.prose code .highlighted {
	width: 100%;
	background-color: hsl(226, 19%, 18%);
}