.prose header {
    @apply text-center mb-4;
}

.prose .title {
    @apply text-balance;
}

.prose .published {
	@apply mb-4 text-xs;
}

.prose lite-youtube {
    @apply rounded-lg shadow-lg shadow-black bg-black mx-auto my-auto dark:shadow-sm dark:shadow-current dark:bg-white;
}

.prose ul > li > a {
	text-decoration: none;
	font-weight: inherit;
}

.prose p > a,
.prose li > a {
	text-decoration: underline;
	text-underline-offset: 4px;
}

.prose li {
	@apply my-2 leading-8;
}

.prose ul li::before {
    content: '🔥';
    padding-right: 5px;
}

.prose table {
	@apply table-auto text-left text-sm min-w-full border-collapse ;
}

.prose thead {
	@apply bg-black dark:bg-white;
}

.prose th {
	@apply text-white dark:text-black px-2 py-2 uppercase;
}

.prose td {
	@apply px-2 py-2 border-b-2;
}

.prose iframe,
.prose video,
.prose p,
.prose ol,
.prose pre,
.prose blockquote,
.prose details,
.prose table  {
	@apply mb-6;
}

.prose blockquote {
	@apply text-2xl italic font-semibold text-gray-900 border-double border-y-4 my-6 py-6 border-current dark:text-white
}

.prose blockquote > p {
	@apply mb-0;
}

.prose .post-image {
    @apply text-center mb-6;
}  

.prose .post-image img {
    @apply rounded-lg mx-auto mb-2;
}  
